.post__comment__guest-Wrap {
  font-size: 12px;
}

.post__myComment {
  font-size: 12px;
}

.post__myComment a {
  margin-right: 6px;
}

i {
  cursor: pointer;
}

.on {
  color: #ed4956;
}

.post__comment__guest-icon {
  i {
    margin-left: 8px;
  }
}
