$background-color: #fafafa;
$content-background: white;
$content-color: #979797;
$emphasize-color: #232323;
$border-out: 2px solid #dbdbdb;
$border-in: 1px solid #dbdbdb;

@mixin emphasize-font($fontsize: 24px) {
  font-family: 'Lobster', cursive;
  font-size: $fontsize;
  color: #232323;
}

@mixin font($size: 24px) {
  font-family: 'Lobster', cursive;
  font-size: $size;
  color: #262626;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0 auto;
  background-color: #fafafa;
}

.mainContainer {
  margin: 0 auto;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  .navigationBar {
    width: 100%;
    height: 80px;
    background-color: $content-background;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    border: 0px;
    border-bottom: $border-out;
    .navLeft {
      width: 160px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fa-instagram {
        font-size: 24px;
      }

      #line {
        font-weight: 100;
        font-size: 24px;
        padding-bottom: 6px;
        margin: 0 10px 0 10px;
      }

      #title {
        @include emphasize-font($fontsize: 24px);
      }
    }

    .navMiddle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
      height: 80px;

      #inputBar {
        width: 200px;
        justify-content: center;
        padding: 0 10px;
        border: $border-in;
        border-radius: 5px;
        background-color: $background-color;
      }

      #inputBar::placeholder {
        color: $content-color;
        font-size: 10px;
        text-align: center;
      }
    }

    .navRight {
      width: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fa-compass,
      .fa-heart,
      .fa-user {
        font-size: 22px;
        color: $content-color;
      }
    }
  }

  .main {
    width: 980px;
    display: flex;
    margin-top: 80px;
    margin-bottom: 20px;

    .feed {
      width: 780px;
      border: $border-out;
      border-bottom: 0;
      margin-top: 80px;
      background-color: $content-background;

      img.profileImg2 {
        position: absolute;
        left: 15px;
        width: 36px;
        height: 36px;
        border-radius: 36px;
        border: $border-in;
      }

      .feedProfile {
        border-bottom: $border-in;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 60px;

        .profileNickname {
          position: absolute;
          left: 70px;
          font-weight: 600;
          font-size: 14px;
          color: $emphasize-color;
        }

        .fa-ellipsis-h {
          color: rgb(83, 83, 83);
          font-size: 15px;
          position: absolute;
          right: 18px;
        }
      }
    }

    .feedArticle {
      width: 100%;
      height: 550px;
      border: 0;

      .articlePhoto {
        width: 100%;
        height: 100%;
      }
    }

    .feedEmoticon {
      border-bottom: $border-in;
      width: 100%;
      height: 48px;
      position: relative;
      display: flex;
      align-items: center;

      .LikeEmoticon {
        position: absolute;
        left: 15px;
        border: 0;
        background-color: white;
        cursor: pointer;
      }

      .fa-heart {
        color: rgb(252, 87, 87);
        font-size: 24px;
      }

      .fa-comment {
        position: absolute;
        left: 55px;
        font-size: 24px;
        color: $content-color;
      }

      .fa-paper-plane {
        position: absolute;
        left: 95px;
        font-size: 24px;
        color: $content-color;
      }

      .fa-bookmark {
        position: absolute;
        right: 15px;
        font-size: 24px;
        color: $content-color;
      }
    }

    .feedLike {
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      position: relative;
      background-color: $content-background;

      img.profileImg2 {
        width: 24px;
        height: 24px;
      }

      p {
        position: absolute;
        left: 50px;
        font-size: 14px;
        color: $emphasize-color;
        margin: 0 auto;

        span {
          text-decoration: none;
          font-weight: 600;
          color: $emphasize-color;
        }
      }
    }

    .feedContent {
      border: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 2px;

      p {
        padding-left: 15px;
        font-size: 14px;
        color: $emphasize-color;
        margin: 8px 0 8px 0;

        a {
          text-decoration: none;
          color: $emphasize-color;
          font-weight: 600;
        }
      }
    }

    .userComment {
      padding: 0 15px 0 15px;

      .comment {
        button {
          background-color: white;
          border: 0;

          .far {
            color: $content-color;
          }
        }
      }

      .fa-heart {
        color: rgb(252, 87, 87);
        font-size: 12px;
        cursor: pointer;
      }

      li {
        color: $emphasize-color;
        list-style: none;
        font-size: 14px;
        margin-bottom: 3px;
        position: relative;

        span {
          color: $emphasize-color;
          font-weight: 600;
          font-size: 14px;
          padding-right: 12px;
        }

        .likeBtn {
          position: absolute;
          right: 2px;
        }

        .deleteBtn {
          position: absolute;
          right: 25px;
          color: white;
          font-size: 12px;
        }

        .deleteBtn:hover {
          transition: 0.5s;
          color: $content-color;
          cursor: pointer;
        }
      }
    }

    .feedComment {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      width: 100%;
      padding-left: 15px;
      border-bottom: $border-in;

      .writeComment {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;

        .profileImg2 {
          width: 40px;
          height: 40px;
          position: absolute;
          left: 0;
        }

        .inputComment {
          width: 550px;
          height: 40px;
          position: absolute;
          border: $border-in;
          border-radius: 15px;
          right: 15px;
          padding-left: 10px;
        }

        .inputBtn {
          position: absolute;
          right: 28px;
          font-size: 14px;
          background-color: $content-background;
          border: 0;
          color: #8d8d8d;
        }
      }
    }

    .mainRight {
      width: 40%;
      border: 0px;
      margin-left: 20px;
      margin-top: 80px;
      align-self: flex-start;
      position: sticky;
      top: 140px;

      .mainRightInfo {
        display: flex;
        align-items: center;
        height: 60px;
        margin-bottom: 20px;

        img.profileImg3 {
          width: 42px;
          height: 42px;
          border-radius: 42px;
        }

        p:nth-child(1) {
          font-weight: 600;
          font-size: 14px;
          margin: 0;
          color: #232323;
          padding-left: 13px;
          padding-bottom: 5px;
        }

        p:nth-child(2) {
          font-size: 14px;
          margin: 0;
          color: #8d8d8d;
          padding-left: 13px;
        }
      }

      .mainRightStory {
        width: 100%;
        height: 250px;
        border: $border-out;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: $content-background;

        .storyInfo {
          width: 100%;
          height: 50px;
          display: flex;
          padding: 0 20px 0 20px;
          justify-content: space-between;
          align-items: center;

          h1 {
            font-size: 14px;
            color: $content-color;
            margin: 0;
          }

          a {
            text-decoration: none;
            font-size: 12px;
            color: #232323;
            font-weight: 600;
          }
        }

        .story {
          width: 100%;
          height: 50px;
          display: flex;
          padding: 0 20px 0 20px;
          align-items: center;

          .profileImg4 {
            width: 36px;
            height: 36px;
            border-radius: 36px;
          }

          .profileImg4 {
            border: 2px solid transparent;
            border-radius: 50%;
            background-image: linear-gradient(#fff, #fff),
              linear-gradient(to right, red 0%, orange 100%);
            background-origin: border-box;
            background-clip: content-box, border-box;
          }

          .storyProfile {
            position: relative;

            span {
              padding-left: 10px;
              display: block;
            }

            span:nth-child(1) {
              color: $emphasize-color;
              font-weight: 600;
              font-size: 14px;
              margin-bottom: 5px;
            }

            span:nth-child(2) {
              color: $content-color;
              font-size: 12px;
            }
          }
        }
      }

      .mainRightFollow {
        width: 100%;
        height: 250px;
        border: $border-out;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: $content-background;

        .followInfo {
          width: 100%;
          height: 50px;
          display: flex;
          padding: 0 20px 0 20px;
          justify-content: space-between;
          align-items: center;

          h1 {
            font-size: 14px;
            color: $content-color;
            margin: 0;
          }

          a {
            text-decoration: none;
            font-size: 12px;
            color: #232323;
            font-weight: 600;
          }
        }

        .follow {
          width: 100%;
          height: 50px;
          display: flex;
          padding: 0 20px 0 20px;
          align-items: center;

          .profileImg5 {
            width: 36px;
            height: 36px;
            border-radius: 36px;
          }

          .followProfile {
            position: relative;

            span {
              padding-left: 10px;
              display: block;
            }

            span:nth-child(1) {
              color: #232323;
              font-weight: 600;
              font-size: 14px;
              margin-bottom: 5px;
            }

            span:nth-child(2) {
              color: $content-color;
              font-size: 12px;
            }
          }
          a {
            margin-left: 60px;
            font-size: 12px;
            text-decoration: none;
          }
        }
      }

      .mainRightBottom {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 12px;
        color: $content-color;

        p:nth-child(1) {
          margin-top: 0;
          margin-bottom: 0;
          line-height: 20px;
          letter-spacing: 1px;
          font-size: 11px;
          color: $content-color;
        }

        p:nth-child(2) {
          margin-top: 20px;
          margin-bottom: 0;
          color: $content-color;
          font-size: 11px;
        }
      }
    }
  }
}
